!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BodyMass
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{style: ' background-image: url("/bg.jpeg");'}
    - if user_signed_in?
      = render partial: 'common/navbar'
    -else
      .col-xs-12.col-sm-12.col-md-4.col-md-offset-4
        %h1
          Body mass index challenge
    = yield
